body > header, 
body > footer,
article.post > p[style="text-align:center;"]
{ 
    display: none; 
}

div.post-content 
{
    font-family: "URW Bookman L";
    font-weight: "lighter";
    text-align: justify;
}

h1,h2,h3,h4,h5,h6
{
    font-family: "URW Gothic L";
    font-weight: "normal";
}

body {counter-reset: h2}
h2 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2:before {counter-increment: h2; content: counter(h2) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h4) ". "}

h2.nocount:before, h4.nocount:before { content: ""; counter-increment: none } 

/* Exercises */
div.post-content h4 
{
    display: block;
    background-color: lightgrey;
    font-family: "URW Bookman L";
    font-weight: "bold";
    text-align: center;
}
